<div style="text-align: center" class="pt-3">
   <h2><%= @user.username %>さん</h2>
   <%= image_tag get_profile_image(@user.image), class: 'media-object circle m-4', :style => 'width:150px; height:150px' %>
   <% if logged_in? && current_user == @user %>
   <div class="p-4">
      <%= button_to 'ユーザー情報の変更', {action: 'edit'}, {method: :get, class: "btn btn-outline-success"} %>
   </div>
   <% end %>
</div>

<div>
   <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
         <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
            aria-controls="nav-home" aria-selected="true">プロフィール</a>
         <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab"
            aria-controls="nav-contact" aria-selected="false">主催イベント</a>
         <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab"
            aria-controls="nav-profile" aria-selected="false">参加イベント</a>
      </div>
   </nav>
   <div class="tab-content mb-4" id="nav-tabContent">
      <div class="tab-pane fade show active bg-white non-top-border" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
         <%= simple_format(h(@user.profile), {}, sanitize: false, wrapper_tag: "div") %>
      </div>
      <div class="tab-pane fade bg-white non-top-border" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
         <% @user_events.each do |event| %>
         <div class="border-bottom mx-3 mb-3 pt-3 px-2">
            <h5>
               <%= link_to event.event_name, event_path(event) %>               
            </h5>
            <p><small class="text-muted">
                  <%= event.start_at.year %>/<%= date_with_slash(event.start_at) %> 開催
               </small>
            </p>
         </div>
         <% end %>
      </div>
      <div class="tab-pane fade bg-white non-top-border" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
         ここに参加しているイベントを載せる予定
      </div>
   </div>
</div>