<%= render 'shared/errors', obj: @user %>

<div class="p-3 bg-white">
   <%= form_with(model: @user, local: true) do |f| %>
      <div class="form-group">
         <%= f.label :username, '氏名'%>
         <%= f.text_field :username, class: 'form-control' %>
      </div>
      <div class="form-group">
         <%= f.label :email, 'Eメールアドレス' %>
         <%= f.text_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
         <%= f.label :password, 'パスワード' %>
         <%= f.password_field :password, class: 'form-control' %>
      </div>
      <div class="form-group">
         <%= f.label :password_confirmation, 'パスワード(確認用)' %>
         <%= f.password_field :password_confirmation, class: 'form-control' %>
      </div>
      <div class="form-group">
         <%= f.label :profile, 'プロフィール' %>
         <%= f.text_area :profile, class: 'form-control', size: '30x10' %>
      </div>
      <%= f.submit(@user.new_record? ? "登録する" : "更新する", class: 'btn btn-primary')%>
   <% end %>
</div>